.bottomNav{
    background: linear-gradient(to right, #ED560E, #FFDD00);
    margin-top: -20px auto 0 auto;
    max-width: 480px;
    min-height: 70px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 20px;
    color: white;

}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar li p{
    font-size: 10px;
    margin-top: 6px;
    
}

.navbar li i{
    font-size: 24px;
}