.bottomNav{
    background: linear-gradient(to right, #ED560E, #FFDD00);
    /* margin-top: -20px auto 0 auto; */
    max-width: 830px;
    /* min-height: 70px; */
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
    gap: 45px;
    color: white;
   

}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s ease;

}

.navbar li p{
    font-size: 10px;
    margin-top: 6px;
    
}

.navbar li i{
    font-size: 24px;
}

.navbar li:active, 
.navbar li:hover {
    cursor: pointer;
    transform: scale(1.2);
}

