.bottomNav{
    background: linear-gradient(to right, #ED560E, #FFDD00);
    margin-top: -20px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 40px;
    color: white;

}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar li p{
    font-size: 12px;
    margin-top: 6px;
    
}

.navbar li i{
    font-size: 24px;
}