.topNav{
     background: linear-gradient(135deg, #ED560E, #FFDD00);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 830px;
    margin:0 auto;
    min-height: 68px;
}

.topNav i{
    font-size: 25px;
    transition: transform 0.3s;
}

.topNav i:hover ,
.topNav button:active{
    cursor: pointer;
    transform: scale(1.2);
}