.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 2px;
    justify-items: center;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    padding-top: 25px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 480px;
    /* for overlapping */
    margin-top: -35px;
    min-height: 200px;

}

.cards{
    /* border: 2px solid black; */
    border-radius: 10px;
    
    padding: 12px;
    padding-bottom: 55px;
    width: 75%;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    color: rgb(31, 26, 108);
    background-color: rgb(242, 241, 255);
    position: relative;
}

.arrow{
    background-color: rgb(31, 26, 108);
    color: white;
    padding: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: 9px;
}

.cards i:nth-child(1){
    color: rgb(237, 86,14);
    font-size: 30px;
    /* border: 1px solid black; */
} 
.cards h4{
    margin-top: 15px;
    font-size: 16px;
}

.cards p{
    font-size: 11px;
}

@media (max-width: 360px) {

  .cards h4 {
      font-size: 14px;
  }

  .cards p {
      font-size: 10px;
  }

  .arrow {
      width: 26px;
      height: 26px;
  }

}