.card{
    width: 300px;
    /* border: 2px black solid;
     */
     border-radius: 17px;
    padding: 30px;
    background: rgb(246,246,246);
    box-shadow: 0px 4px 4px 0px #00000040;

}
.title{
    color: rgb(237, 86,14);
    text-align: center;
    margin: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.cardTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardTitle i {
    background-color: rgb(31, 26, 108);
    color: white;
    /* padding: 10px; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cardInfo h2{
    color: rgb(31, 26, 108);
    margin: 20px 0px 20px 0px;
}

.cardInfo p {
    color: rgb(82, 82, 82);
}