.userDisplay{
     background: linear-gradient(135deg, #ED560E, #FFDD00);
    color: white;
    padding-bottom: 70px;
    width: 100%;
    max-width: 830px;
    display: flex;
    flex-direction: column;
}

.userDisplay h2{
    margin: 0px 20px 20px 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.userDisplay button{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: rgb(31, 26, 108);
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    /* margin-top: 20px; */
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 300px;
}

