.subNavbar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 8px 10px;
    
}
.subNavbar ul li{
    position: relative;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dropdownArrow{
    margin-left: 5px;
    margin-top: 2px;
    transition: transform 0.3s ease;
}
.dropdown {
  position: absolute;
  display: flex;
  
  flex-direction: column;
  align-items: flex-start;
  background: rgb(255, 255, 255);
  list-style: none;
  width: 100%;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  z-index: 100; 
  border-radius: 5px;
}


.dropdown li {
  position: relative;
  list-style: none;
  padding: 10px;
 
}

.subnavList span:hover{
   color: rgb(237, 86,14);
    cursor: pointer; 
}

.dropdown li:hover{
    color: rgb(237, 86,14);
    cursor: pointer; 
}


.subnavList {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.activeSubnav {
    color: rgb(237, 86, 14);
    font-weight: 600;

}
.activeSubnav i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

@media (max-width: 920px) {
    .subNavbar ul li{
        font-size: 14px;
    }
}